table#carTypes tr:first-child th{
	
	background-color: #00C1C1;
}

table#carTypes tr:nth-of-type(even){
	
	background-color: #F78181;
}

table#carTypes tr:nth-of-type(odd){
	
	background-color: #BCF5A9;
}

fieldset {

	border-radius: 10px;
	background-color: #A9A9F5;
}


input {

	border-radius: 10px;
	background-color: #F2F5A9;
}



#header {
    background-color: #8181F7;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#F5BCA9;
    height:500px;
    width:7%;
    float:left;
    padding:5px;
}
#section {
    width:90%;
    float:left;
    padding:10px;
	
}
#footer {
    background-color:#8181F7;
    color:white;
    clear:both;
    text-align:center;
    padding:2px;
}